body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
}

header {
  background: $bright-blue;
  color: #FFF;
  line-height: 4em;
  padding: 0 10px;

  .branding {
    font-weight: 100;
    font-size: 1.5em;
  }

  .options {
    float: right;

    ul {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        display: inline;

        a {
          background-color: $bright-orange;
          background-image: linear-gradient(to bottom, $light-orange 5%, $bright-orange);
          color: #FFF;
          text-decoration: none;
          padding: 10px;
          border-radius: 15px;

          &:hover {
            background: $light-orange;
          }
        }
      }
    }
  }
}

main {
  table {
    border-collapse: collapse;
    border: 0;
    width: 100%;

    thead tr th,
    tbody tr td {
      line-height: 2.5em;
      width: 20%;
      padding: 0 10px;
    }

    thead tr th {
      background: #E1E1E1;
      text-align: left;
      font-weight: 200;
    }

    tbody tr {
      border-top: 1px solid #F1F1F1;
    }
  }

  #data {
    position: absolute;
    top: 6.6em;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
  }
}
