body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
}

.header-messages {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;

  #error,
  #notice {
    color: #FFF;
    width: 500px;
    margin: 10px auto;
    padding: 10px;
    display: none;
  }

  #error {
    background: #A00;
  }

  #notice {
    background: #0A0;
  }
}

header {
  background: $bright-blue;
  background-image: linear-gradient(to bottom right, $light-blue 10%, $bright-blue);
  color: #FFF;
  line-height: 4em;
  padding: 0 10px;

  .branding {
    font-size: 1.5em;

    .version {
      font-size: .5em;
      display: inline-block;
      margin-left: 10px;
    }
  }

  .options {
    float: right;

    @extend .orange-buttons;
  }
}

main {
  table {
    border-collapse: collapse;
    border: 0;
    width: 100%;

    thead tr th,
    tbody tr td {
      line-height: 2.5em;
      width: 20%;
      padding: 0 10px;
    }

    thead tr th {
      background: #E1E1E1;
      text-align: left;
      font-weight: 100;
    }

    tbody tr {
      border-top: 1px solid #F1F1F1;

      td:last-of-type {
        @extend .orange-buttons;
        transition: .5s;

        text-align: right;
        opacity: .2;

        ul li a {
          font-size: .75em;
          padding: 5px 10px;
        }
      }

      &:hover td:last-of-type {
        opacity: 1;
      }
    }
  }

  #data {
    position: absolute;
    top: 108px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    z-index: 1;
  }
}
