{% extends 'layouts/default.html.twig' %}

{% block content %}
    <div id="application">

    </div>
{% endblock %}

{% block javascripts %}
    <script>
        var config = {
            {% for key, value in config %}
                "{{ key }}": "{{ value }}",
            {% else %}
                // No config
            {% endfor %}
        };
    </script>
    <script src="js/application.js"></script>
{% endblock %}
